/* Перша задача */
.container1 {
    display: flex;
}
.one {
    margin-bottom: 150px;
}
.box1 {
    background-color: yellow;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}
.box1:nth-child(1) {
    order: 3;
    background-color: green;
}




/* Друга задача */
.box {
    background-color: green;
    width: 200px;
    height: 200px;
    border: 2px solid black;
}
.wraper {
    display: flex;
}
.box:nth-child(1) {
    background-color: yellow;
}
